@model Portals.Models.Blog
@{

}

<div class="row">
    @Model.Title
</div>

<div class="row">
    发布于 @Portals.infrastructure.GeneralHelper.TimeAgo(Model.PostTime.Value)
</div>

<div class="row">
    发布人 @ViewBag.username
</div>

<div class="row">
   @Html.Raw(Model.Description)
</div>